In [27]:
import pandas as pd
import numpy as np

## Cleaning the MVP data

In [28]:
mvps = pd.read_csv("mvps.csv")

In [29]:
mvps

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,0,1,Magic Johnson,30,LAL,27,636,920,0.691,79,...,6.6,11.5,1.7,0.4,0.480,0.384,0.890,16.5,0.270,1990
1,1,2,Charles Barkley,26,PHI,38,614,920,0.667,79,...,11.5,3.9,1.9,0.6,0.600,0.217,0.749,17.3,0.269,1990
2,2,3,Michael Jordan,26,CHI,21,564,920,0.613,82,...,6.9,6.3,2.8,0.7,0.526,0.376,0.848,19.0,0.285,1990
3,3,4,Karl Malone,26,UTA,2,214,920,0.233,82,...,11.1,2.8,1.5,0.6,0.562,0.372,0.762,15.9,0.245,1990
4,4,5,Patrick Ewing,27,NYK,1,162,920,0.176,82,...,10.9,2.2,1.0,4.0,0.551,0.250,0.775,13.5,0.205,1990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,529,7T,Anthony Edwards,23,MIN,0,12,1000,0.012,79,...,5.7,4.5,1.2,0.6,0.447,0.395,0.837,8.4,0.140,2025
530,530,9,Stephen Curry,36,GSW,0,2,1000,0.002,70,...,4.4,6.0,1.1,0.4,0.448,0.397,0.933,7.9,0.168,2025
531,531,10T,Jalen Brunson,28,NYK,0,1,1000,0.001,65,...,2.9,7.3,0.9,0.1,0.488,0.383,0.821,8.3,0.172,2025
532,532,10T,James Harden,35,LAC,0,1,1000,0.001,79,...,5.8,8.7,1.5,0.7,0.410,0.352,0.874,8.3,0.143,2025
533,533,10T,Evan Mobley,23,CLE,0,1,1000,0.001,71,...,9.3,3.2,0.9,1.6,0.557,0.370,0.725,9.0,0.200,2025

In [30]:
mvps = mvps[['Player', 'Year', 'Pts Won', 'Pts Max', 'Share']]

In [31]:
mvps.columns

Index(['Player', 'Year', 'Pts Won', 'Pts Max', 'Share'], dtype='object')

## Cleaning the players data

In [32]:
players = pd.read_csv("players.csv")

In [33]:
players

,Unnamed: 0,Rk,Player,Age,Team,Pos,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,0,1,Michael Jordan,27,CHI,SG,82,82,37.0,12.1,...,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,"MVP-1,DPOY-7,AS,NBA1,DEF1",1991
1,1,2,Karl Malone,27,UTA,PF,82,82,40.3,10.3,...,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,"MVP-5,AS,NBA1",1991
2,2,3,Bernard King,34,WSB,SF,64,64,37.5,11.1,...,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,"MVP-16,AS,NBA3",1991
3,3,4,Charles Barkley,27,PHI,SF,67,67,37.3,9.9,...,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,"MVP-4,AS,NBA1",1991
4,4,5,Patrick Ewing,28,NYK,C,81,81,38.3,10.4,...,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,"MVP-11,DPOY-7,AS,NBA2",1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20997,754,566,Jahlil Okafor,29,IND,C,1,0,3.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,2025
20998,755,567,Zyon Pullin,23,MEM,SG,3,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2025
20999,756,568,Isaiah Stevens,24,MIA,PG,3,0,2.0,0.0,...,0.7,0.7,0.0,0.3,0.0,0.0,0.0,0.0,NaN,2025
21000,757,569,Terry Taylor,25,SAC,PF,3,0,2.0,0.0,...,0.0,0.3,0.7,0.0,0.0,0.0,0.0,0.0,NaN,2025
21001,758,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025

In [34]:
del players ['Unnamed: 0']

In [35]:
del players ['Rk']

In [36]:
players.head()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,Michael Jordan,27,CHI,SG,82,82,37.0,12.1,22.4,.539,...,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,"MVP-1,DPOY-7,AS,NBA1,DEF1",1991
1,Karl Malone,27,UTA,PF,82,82,40.3,10.3,19.6,.527,...,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,"MVP-5,AS,NBA1",1991
2,Bernard King,34,WSB,SF,64,64,37.5,11.1,23.6,.472,...,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,"MVP-16,AS,NBA3",1991
3,Charles Barkley,27,PHI,SF,67,67,37.3,9.9,17.4,.570,...,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,"MVP-4,AS,NBA1",1991
4,Patrick Ewing,28,NYK,C,81,81,38.3,10.4,20.3,.514,...,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,"MVP-11,DPOY-7,AS,NBA2",1991

In [37]:
players["Player"] = players["Player"].str.replace("*", "", regex=False)

In [39]:
players.head()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,Michael Jordan,27,CHI,SG,82,82,37.0,12.1,22.4,.539,...,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,"MVP-1,DPOY-7,AS,NBA1,DEF1",1991
1,Karl Malone,27,UTA,PF,82,82,40.3,10.3,19.6,.527,...,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,"MVP-5,AS,NBA1",1991
2,Bernard King,34,WSB,SF,64,64,37.5,11.1,23.6,.472,...,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,"MVP-16,AS,NBA3",1991
3,Charles Barkley,27,PHI,SF,67,67,37.3,9.9,17.4,.570,...,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,"MVP-4,AS,NBA1",1991
4,Patrick Ewing,28,NYK,C,81,81,38.3,10.4,20.3,.514,...,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,"MVP-11,DPOY-7,AS,NBA2",1991

In [40]:
players.head(6)

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,Michael Jordan,27,CHI,SG,82,82,37.0,12.1,22.4,.539,...,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,"MVP-1,DPOY-7,AS,NBA1,DEF1",1991
1,Karl Malone,27,UTA,PF,82,82,40.3,10.3,19.6,.527,...,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,"MVP-5,AS,NBA1",1991
2,Bernard King,34,WSB,SF,64,64,37.5,11.1,23.6,.472,...,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,"MVP-16,AS,NBA3",1991
3,Charles Barkley,27,PHI,SF,67,67,37.3,9.9,17.4,.570,...,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,"MVP-4,AS,NBA1",1991
4,Patrick Ewing,28,NYK,C,81,81,38.3,10.4,20.3,.514,...,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,"MVP-11,DPOY-7,AS,NBA2",1991
5,Michael Adams,28,DEN,PG,66,66,35.5,8.5,21.5,.394,...,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5,NaN,1991

In [42]:
#Some players have multiple rows within a season because they probably got traded multiple times

players.groupby(["Player","Year"]).get_group(("Greg Anderson", 1991))

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
313,Greg Anderson,26,3TM,PF,68,2,13.6,1.7,4.0,.430,...,3.3,4.7,0.2,0.5,0.7,1.2,2.1,4.3,NaN,1991
314,Greg Anderson,26,MIL,PF,26,0,9.5,1.0,2.8,.370,...,1.9,2.9,0.1,0.3,0.3,0.8,1.1,2.7,NaN,1991
315,Greg Anderson,26,NJN,PF,1,0,18.0,4.0,4.0,1.000,...,2.0,6.0,1.0,2.0,0.0,1.0,4.0,8.0,NaN,1991
316,Greg Anderson,26,DEN,PF,41,2,16.1,2.1,4.7,.440,...,4.1,5.8,0.3,0.6,0.9,1.5,2.6,5.2,NaN,1991

In [43]:
players.columns

Index(['Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Awards',
       'Year'],
      dtype='object')

In [44]:
#Dealing duplicate rows

def single_row(df):
    if df.shape[0]==1:    #If there's only one row for that specific player return the data
        return df
    else:
        row = df[df["Team"] == "TOT"]       #If they have multiple teams they payed for just return their total stats (TOT)
        row["Team"] = df.iloc[-1,:]["Team"]   #replace TOT with the last team that player played for in the last row
        return row
    
players = players.groupby(["Player", "Year"]).apply(single_row)

/var/folders/3f/7yyndr2s1xsd15b1kh2vc2k00000gn/T/ipykernel_4732/305662950.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  players = players.groupby(["Player", "Year"]).apply(single_row)

In [46]:
players

                                    Player Age Team Pos   G  GS    MP   FG  \
Player          Year
A.C. Green      1991 182        A.C. Green  27  LAL  PF  82  21  26.4  3.1
                1992 550        A.C. Green  28  LAL  PF  82  53  35.4  4.7
                1993 1035       A.C. Green  29  LAL  PF  82  55  34.4  4.6
                1994 1465       A.C. Green  30  PHO  PF  82  55  34.5  5.7
                1995 2021       A.C. Green  31  PHO  SF  82  52  32.8  3.8
...                                    ...  ..  ...  ..  ..  ..   ...  ...
Žarko Čabarkapa 2006 8296  Žarko Čabarkapa  24  GSW  PF  61   0   8.3  1.1
Željko Rebrača  2002 5903   Željko Rebrača  29  DET   C  74   4  15.9  2.6
                2003 6405   Željko Rebrača  30  DET   C  30  12  16.3  2.7
                2005 7611   Željko Rebrača  32  LAC   C  58   2  16.0  2.3
                2006 8224   Željko Rebrača  33  LAC   C  29   2  14.2  1.8

                            FGA   FG%  ...  DRB  TRB  AST  STL  BLK  TOV   PF  \
Player          Year                   ...
A.C. Green      1991 182    6.6  .476  ...  3.8  6.3  0.9  0.7  0.3  1.2  1.4
                1992 550    9.8  .476  ...  5.6  9.3  1.4  1.1  0.4  1.4  1.7
                1993 1035   8.6  .537  ...  5.2  8.7  1.4  1.1  0.5  1.4  1.8
                1994 1465  11.3  .502  ...  5.8  9.2  1.7  0.9  0.5  1.2  1.7
                1995 2021   7.5  .504  ...  5.8  8.2  1.5  0.7  0.4  1.4  1.8
...                         ...   ...  ...  ...  ...  ...  ...  ...  ...  ...
Žarko Čabarkapa 2006 8296   2.9  .385  ...  1.2  1.8  0.3  0.2  0.1  0.6  1.4
Željko Rebrača  2002 5903   5.1  .505  ...  2.8  3.9  0.5  0.4  1.0  1.1  2.6
                2003 6405   4.8  .552  ...  2.2  3.1  0.3  0.2  0.6  1.0  2.6
                2005 7611   4.0  .568  ...  2.3  3.2  0.4  0.2  0.7  0.8  2.2
                2006 8224   3.3  .542  ...  1.8  2.2  0.3  0.2  0.7  0.8  2.0

                            PTS Awards  Year
Player          Year
A.C. Green      1991 182    9.1    NaN  1991
                1992 550   13.6    NaN  1992
                1993 1035  12.8    NaN  1993
                1994 1465  14.7    NaN  1994
                1995 2021  11.2    NaN  1995
...                         ...    ...   ...
Žarko Čabarkapa 2006 8296   3.3    NaN  2006
Željko Rebrača  2002 5903   6.9    NaN  2002
                2003 6405   6.6    NaN  2003
                2005 7611   5.8    NaN  2005
                2006 8224   4.7    NaN  2006

[14500 rows x 31 columns]

In [47]:
players.index = players.index.droplevel()

In [48]:
players.index = players.index.droplevel()

In [49]:
players.head()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
182,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1,NaN,1991
550,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6,NaN,1992
1035,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8,NaN,1993
1465,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7,NaN,1994
2021,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,5.8,8.2,1.5,0.7,0.4,1.4,1.8,11.2,NaN,1995

In [50]:
players[players["Player"]=="Joel Embiid"]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
14548,Joel Embiid,22,PHI,C,31,31,25.4,6.5,13.8,.466,...,5.9,7.8,2.1,0.9,2.5,3.8,3.6,20.2,ROY-3,2017
15143,Joel Embiid,23,PHI,C,63,63,30.3,8.1,16.8,.483,...,8.7,11.0,3.2,0.6,1.8,3.7,3.3,22.9,"MVP-12,DPOY-2,AS,NBA2,DEF2",2018
15817,Joel Embiid,24,PHI,C,64,64,33.7,9.1,18.7,.484,...,11.1,13.6,3.7,0.7,1.9,3.5,3.3,27.5,"MVP-7,DPOY-4,AS,NBA2,DEF2",2019
16565,Joel Embiid,25,PHI,C,51,51,29.5,7.5,15.7,.477,...,8.9,11.6,3.0,0.9,1.3,3.1,3.4,23.0,AS,2020
17220,Joel Embiid,26,PHI,C,51,51,31.1,9.0,17.6,.513,...,8.4,10.6,2.8,1.0,1.4,3.1,2.4,28.5,"MVP-2,DPOY-7,AS,NBA2,DEF2",2021
17945,Joel Embiid,27,PHI,C,68,68,33.8,9.8,19.6,.499,...,9.6,11.7,4.2,1.1,1.5,3.1,2.7,30.6,"MVP-2,AS,NBA2",2022
18783,Joel Embiid,28,PHI,C,66,66,34.6,11.0,20.1,.548,...,8.4,10.2,4.2,1.0,1.7,3.4,3.1,33.1,"MVP-1,DPOY-9,CPOY-5,AS,NBA1",2023
19484,Joel Embiid,29,PHI,C,39,39,33.6,11.5,21.8,.529,...,8.6,11.0,5.6,1.2,1.7,3.8,2.9,34.7,AS,2024
20273,Joel Embiid,30,PHI,C,19,19,30.2,7.4,16.6,.444,...,6.3,8.2,4.5,0.7,0.9,3.3,2.2,23.8,NaN,2025

In [58]:
players['MIP'].value_counts()

MIP
0    14465
1       35
Name: count, dtype: int64

In [54]:
import pandas as pd
import re

award_values = {}

for idx, val in players['Awards'].items():
    if pd.isna(val):
        continue

    # split things like "MVP-10,CPOY-1,AS"
    parts = val.split(',')

    for p in parts:
        match = re.match(r"([A-Za-z0-9]+)-(\d+)", p)
        if match:
            award_name = match.group(1)
            award_value = int(match.group(2))

            if award_name not in award_values:
                award_values[award_name] = {}

            award_values[award_name][idx] = award_value

# create each award column and fill missing values with 0
for award_name, mapping in award_values.items():
    players[award_name] = players.index.map(mapping).fillna(0).astype(int)

In [59]:
players['Awards'] = players['Awards'].fillna(0)

In [60]:
players

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,PF,PTS,Awards,Year,MIP,6MOY,ROY,DPOY,MVP,CPOY
182,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,1.4,9.1,0,1991,0,0,0,0,0,0
550,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,1.7,13.6,0,1992,0,0,0,0,0,0
1035,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,1.8,12.8,0,1993,0,0,0,0,0,0
1465,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,1.7,14.7,0,1994,0,0,0,0,0,0
2021,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,1.8,11.2,0,1995,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8296,Žarko Čabarkapa,24,GSW,PF,61,0,8.3,1.1,2.9,.385,...,1.4,3.3,0,2006,0,0,0,0,0,0
5903,Željko Rebrača,29,DET,C,74,4,15.9,2.6,5.1,.505,...,2.6,6.9,0,2002,0,0,0,0,0,0
6405,Željko Rebrača,30,DET,C,30,12,16.3,2.7,4.8,.552,...,2.6,6.6,0,2003,0,0,0,0,0,0
7611,Željko Rebrača,32,LAC,C,58,2,16.0,2.3,4.0,.568,...,2.2,5.8,0,2005,0,0,0,0,0,0
8224,Željko Rebrača,33,LAC,C,29,2,14.2,1.8,3.3,.542,...,2.0,4.7,0,2006,0,0,0,0,0,0

In [61]:
players.columns

Index(['Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Awards',
       'Year', 'MIP', '6MOY', 'ROY', 'DPOY', 'MVP', 'CPOY'],
      dtype='object')

In [22]:
#players.fillna(0)

In [23]:
#players['3P%'] = players['3P%'].fillna(0)
#players['FG%'] = players['FG%'].fillna(0)
#players['2P%'] = players['2P%'].fillna(0)
#players['eFG%'] = players['eFG%'].fillna(0)
#players['FT%'] = players['FT%'].fillna(0)

In [24]:
#players.isnull().sum()

## Merge our datasets together

In [62]:
combined = players.merge(mvps, how="outer", on = ["Player", "Year"])

In [63]:
combined.head(5)

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Year,MIP,6MOY,ROY,DPOY,MVP,CPOY,Pts Won,Pts Max,Share
0,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,1991,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,1992,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,1993,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,1994,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,1995,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [64]:
combined[combined["Pts Won"]>0]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Year,MIP,6MOY,ROY,DPOY,MVP,CPOY,Pts Won,Pts Max,Share
201,Al Jefferson,29,CHA,C,73,73,35.0,9.6,18.8,.509,...,2014,0.0,0.0,0.0,0.0,8.0,0.0,34.0,1250.0,0.027
343,Allen Iverson,21,PHI,PG,76,74,40.1,8.2,19.8,.416,...,1997,0.0,0.0,1.0,0.0,17.0,0.0,1.0,1150.0,0.001
345,Allen Iverson,23,PHI,SG,48,48,41.5,9.1,22.0,.412,...,1999,0.0,0.0,0.0,0.0,4.0,0.0,319.0,1180.0,0.270
346,Allen Iverson,24,PHI,SG,70,70,40.8,10.4,24.8,.421,...,2000,0.0,0.0,0.0,0.0,7.0,0.0,132.0,1210.0,0.109
347,Allen Iverson,25,PHI,SG,71,71,42.0,10.7,25.5,.420,...,2001,0.0,0.0,0.0,11.0,1.0,0.0,1121.0,1240.0,0.904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14022,Vince Carter,23,TOR,SF,82,82,38.1,9.6,20.7,.465,...,2000,0.0,0.0,0.0,0.0,10.0,0.0,51.0,1210.0,0.042
14023,Vince Carter,24,TOR,SF,75,75,39.7,10.2,22.1,.460,...,2001,0.0,0.0,0.0,0.0,11.0,0.0,7.0,1240.0,0.006
14027,Vince Carter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2005,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1270.0,0.002
14381,Yao Ming,23,HOU,C,82,82,32.8,6.5,12.5,.522,...,2004,0.0,0.0,0.0,0.0,14.0,0.0,1.0,1230.0,0.001
14386,Yao Ming,28,HOU,C,77,77,33.6,7.4,13.4,.548,...,2009,0.0,0.0,0.0,0.0,12.0,0.0,1.0,1210.0,0.001

In [65]:
combined[["Pts Won", "Pts Max", "Share"]] = combined[["Pts Won", "Pts Max", "Share"]].fillna(0)

In [66]:
combined[combined["Pts Won"]>0]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Year,MIP,6MOY,ROY,DPOY,MVP,CPOY,Pts Won,Pts Max,Share
201,Al Jefferson,29,CHA,C,73,73,35.0,9.6,18.8,.509,...,2014,0.0,0.0,0.0,0.0,8.0,0.0,34.0,1250.0,0.027
343,Allen Iverson,21,PHI,PG,76,74,40.1,8.2,19.8,.416,...,1997,0.0,0.0,1.0,0.0,17.0,0.0,1.0,1150.0,0.001
345,Allen Iverson,23,PHI,SG,48,48,41.5,9.1,22.0,.412,...,1999,0.0,0.0,0.0,0.0,4.0,0.0,319.0,1180.0,0.270
346,Allen Iverson,24,PHI,SG,70,70,40.8,10.4,24.8,.421,...,2000,0.0,0.0,0.0,0.0,7.0,0.0,132.0,1210.0,0.109
347,Allen Iverson,25,PHI,SG,71,71,42.0,10.7,25.5,.420,...,2001,0.0,0.0,0.0,11.0,1.0,0.0,1121.0,1240.0,0.904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14022,Vince Carter,23,TOR,SF,82,82,38.1,9.6,20.7,.465,...,2000,0.0,0.0,0.0,0.0,10.0,0.0,51.0,1210.0,0.042
14023,Vince Carter,24,TOR,SF,75,75,39.7,10.2,22.1,.460,...,2001,0.0,0.0,0.0,0.0,11.0,0.0,7.0,1240.0,0.006
14027,Vince Carter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2005,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1270.0,0.002
14381,Yao Ming,23,HOU,C,82,82,32.8,6.5,12.5,.522,...,2004,0.0,0.0,0.0,0.0,14.0,0.0,1.0,1230.0,0.001
14386,Yao Ming,28,HOU,C,77,77,33.6,7.4,13.4,.548,...,2009,0.0,0.0,0.0,0.0,12.0,0.0,1.0,1210.0,0.001

In [67]:
combined

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Year,MIP,6MOY,ROY,DPOY,MVP,CPOY,Pts Won,Pts Max,Share
0,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,1991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,1992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,1993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,1994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,1995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14534,Žarko Čabarkapa,24,GSW,PF,61,0,8.3,1.1,2.9,.385,...,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14535,Željko Rebrača,29,DET,C,74,4,15.9,2.6,5.1,.505,...,2002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14536,Željko Rebrača,30,DET,C,30,12,16.3,2.7,4.8,.552,...,2003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14537,Željko Rebrača,32,LAC,C,58,2,16.0,2.3,4.0,.568,...,2005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14538,Željko Rebrača,33,LAC,C,29,2,14.2,1.8,3.3,.542,...,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [68]:
combined.columns

Index(['Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Awards',
       'Year', 'MIP', '6MOY', 'ROY', 'DPOY', 'MVP', 'CPOY', 'Pts Won',
       'Pts Max', 'Share'],
      dtype='object')

In [69]:
#combined[["Pts Won", "Pts Max", "Share"]] = combined[["Pts Won", "Pts Max", "Share"]].fillna(0)

In [70]:
combined

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Year,MIP,6MOY,ROY,DPOY,MVP,CPOY,Pts Won,Pts Max,Share
0,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,1991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,1992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,1993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,1994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,1995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14534,Žarko Čabarkapa,24,GSW,PF,61,0,8.3,1.1,2.9,.385,...,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14535,Željko Rebrača,29,DET,C,74,4,15.9,2.6,5.1,.505,...,2002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14536,Željko Rebrača,30,DET,C,30,12,16.3,2.7,4.8,.552,...,2003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14537,Željko Rebrača,32,LAC,C,58,2,16.0,2.3,4.0,.568,...,2005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14538,Željko Rebrača,33,LAC,C,29,2,14.2,1.8,3.3,.542,...,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Clean the team data

In [71]:
teams = pd.read_csv("teams.csv")

In [72]:
teams.head(30)

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,53,29,.646,—,110.2,105.2,4.23,1990,Philadelphia 76ers*
1,1,52,30,.634,1.0,110.0,106.0,3.23,1990,Boston Celtics*
2,2,45,37,.549,8.0,108.3,106.9,0.78,1990,New York Knicks*
3,3,31,51,.378,22.0,107.7,109.9,-2.43,1990,Washington Bullets
4,4,18,64,.220,35.0,100.6,110.3,-9.59,1990,Miami Heat
5,5,17,65,.207,36.0,100.1,108.0,-7.82,1990,New Jersey Nets
6,6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,1990,Central Division
7,7,59,23,.720,—,104.3,98.3,5.41,1990,Detroit Pistons*
8,8,55,27,.671,4.0,109.5,106.2,2.74,1990,Chicago Bulls*
9,9,44,38,.537,15.0,106.0,106.8,-1.06,1990,Milwaukee Bucks*
10,10,42,40,.512,17.0,102.6,102.9,-0.62,1990,Cleveland Cavaliers*
11,11,42,40,.512,17.0,109.3,109.1,-0.18,1990,Indiana Pacers*
12,12,41,41,.500,18.0,108.5,107.5,0.64,1990,Atlanta Hawks
13,13,18,64,.220,41.0,110.9,119.8,-8.73,1990,Orlando Magic
14,14,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,1990,Midwest Division
15,15,56,26,.683,—,106.3,102.8,3.58,1990,San Antonio Spurs*
16,16,55,27,.671,1.0,106.8,102.0,4.82,1990,Utah Jazz*
17,17,47,35,.573,9.0,102.2,102.2,0.42,1990,Dallas Mavericks*
18,18,43,39,.524,13.0,114.6,113.2,1.56,1990,Denver Nuggets*
19,19,41,41,.500,15.0,106.7,105.3,1.71,1990,Houston Rockets*
20,20,22,60,.268,34.0,95.2,99.4,-3.60,1990,Minnesota Timberwolves
21,21,19,63,.232,37.0,100.4,108.2,-7.00,1990,Charlotte Hornets
22,22,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,1990,Pacific Division
23,23,63,19,.768,—,110.7,103.9,6.74,1990,Los Angeles Lakers*
24,24,59,23,.720,4.0,114.2,107.9,6.48,1990,Portland Trail Blazers*
25,25,54,28,.659,9.0,114.9,107.8,7.09,1990,Phoenix Suns*
26,26,41,41,.500,22.0,106.9,105.9,1.40,1990,Seattle SuperSonics
27,27,37,45,.451,26.0,116.3,119.4,-2.55,1990,Golden State Warriors
28,28,30,52,.366,33.0,103.8,107.2,-2.80,1990,Los Angeles Clippers
29,29,23,59,.280,40.0,101.7,106.8,-4.41,1990,Sacramento Kings

In [73]:
#Removing every rows that have division in it (~ means NOT) 

teams = teams[~teams["W"].str.contains("Division")] # If the string has division in it get rid of the entire row

In [74]:
teams.head(10)

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,53,29,.646,—,110.2,105.2,4.23,1990,Philadelphia 76ers*
1,1,52,30,.634,1.0,110.0,106.0,3.23,1990,Boston Celtics*
2,2,45,37,.549,8.0,108.3,106.9,0.78,1990,New York Knicks*
3,3,31,51,.378,22.0,107.7,109.9,-2.43,1990,Washington Bullets
4,4,18,64,.220,35.0,100.6,110.3,-9.59,1990,Miami Heat
5,5,17,65,.207,36.0,100.1,108.0,-7.82,1990,New Jersey Nets
7,7,59,23,.720,—,104.3,98.3,5.41,1990,Detroit Pistons*
8,8,55,27,.671,4.0,109.5,106.2,2.74,1990,Chicago Bulls*
9,9,44,38,.537,15.0,106.0,106.8,-1.06,1990,Milwaukee Bucks*
10,10,42,40,.512,17.0,102.6,102.9,-0.62,1990,Cleveland Cavaliers*

In [75]:
teams["Team"] = teams["Team"].str.replace("*", "", regex=False)

In [76]:
teams

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,53,29,.646,—,110.2,105.2,4.23,1990,Philadelphia 76ers
1,1,52,30,.634,1.0,110.0,106.0,3.23,1990,Boston Celtics
2,2,45,37,.549,8.0,108.3,106.9,0.78,1990,New York Knicks
3,3,31,51,.378,22.0,107.7,109.9,-2.43,1990,Washington Bullets
4,4,18,64,.220,35.0,100.6,110.3,-9.59,1990,Miami Heat
...,...,...,...,...,...,...,...,...,...,...
1233,1233,15,6,.714,—,120.9,110.3,10.43,2026,Houston Rockets (4)
1234,1234,16,7,.696,—,119.6,115.3,3.95,2026,San Antonio Spurs (5)
1235,1235,11,13,.458,5.5,113.6,115.3,-1.10,2026,Memphis Grizzlies (9)
1236,1236,9,16,.360,8.0,111.8,116.1,-3.57,2026,Dallas Mavericks (11)
1237,1237,3,22,.120,14.0,113.0,123.7,-8.94,2026,New Orleans Pelicans (15)

In [77]:
teams["Team"].unique()

array(['Philadelphia 76ers', 'Boston Celtics', 'New York Knicks',
       'Washington Bullets', 'Miami Heat', 'New Jersey Nets',
       'Detroit Pistons', 'Chicago Bulls', 'Milwaukee Bucks',
       'Cleveland Cavaliers', 'Indiana Pacers', 'Atlanta Hawks',
       'Orlando Magic', 'San Antonio Spurs', 'Utah Jazz',
       'Dallas Mavericks', 'Denver Nuggets', 'Houston Rockets',
       'Minnesota Timberwolves', 'Charlotte Hornets',
       'Los Angeles Lakers', 'Portland Trail Blazers', 'Phoenix Suns',
       'Seattle SuperSonics', 'Golden State Warriors',
       'Los Angeles Clippers', 'Sacramento Kings', 'Toronto Raptors',
       'Vancouver Grizzlies', 'Washington Wizards', 'Memphis Grizzlies',
       'New Orleans Hornets', 'Charlotte Bobcats',
       'New Orleans/Oklahoma City Hornets', 'Oklahoma City Thunder',
       'Brooklyn Nets', 'New Orleans Pelicans', 'New York Knicks\xa0(2)',
       'Boston Celtics\xa0(3)', 'Toronto Raptors\xa0(4)',
       'Philadelphia 76ers\xa0(7)', 'Brooklyn Nets\xa0(13)',
       'Detroit Pistons\xa0(1)', 'Cleveland Cavaliers\xa0(8)',
       'Milwaukee Bucks\xa0(10)', 'Chicago Bulls\xa0(11)',
       'Indiana Pacers\xa0(14)', 'Orlando Magic\xa0(5)',
       'Miami Heat\xa0(6)', 'Atlanta Hawks\xa0(9)',
       'Charlotte Hornets\xa0(12)', 'Washington Wizards\xa0(15)',
       'Oklahoma City Thunder\xa0(1)', 'Denver Nuggets\xa0(3)',
       'Minnesota Timberwolves\xa0(6)', 'Portland Trail Blazers\xa0(10)',
       'Utah Jazz\xa0(12)', 'Los Angeles Lakers\xa0(2)',
       'Phoenix Suns\xa0(7)', 'Golden State Warriors\xa0(8)',
       'Sacramento Kings\xa0(13)', 'Los Angeles Clippers\xa0(14)',
       'Houston Rockets\xa0(4)', 'San Antonio Spurs\xa0(5)',
       'Memphis Grizzlies\xa0(9)', 'Dallas Mavericks\xa0(11)',
       'New Orleans Pelicans\xa0(15)'], dtype=object)

In [79]:
combined["Team"].unique()

array(['LAL', 'PHO', 'DAL', 'MIA', 'CLE', 'WSB', 'MIL', 'CHI', 'GSW',
       'TOR', 'IND', 'WAS', 'MIN', 'BOS', 'ATL', 'HOU', 'ORL', 'DEN',
       'NOH', 'CHO', 'PHI', 'POR', 'OKC', 'UTA', 'SEA', 'NJN', 'LAC',
       'CHA', 'SAC', 'NYK', 'NOP', 'BRK', 'DET', 'SAS', 'MEM', 'CHH',
       'VAN', 'NOK', nan], dtype=object)

In [81]:
nicknames = {}

with open("nicknames.csv") as f:
    lines = f.readlines()
    for line in lines[1:]:
        ce, abbrev,name = line.replace("\n", "").split(",")
        nicknames[abbrev] = name

In [82]:
nicknames

{'ATL': 'Atlanta Hawks',
 'BRK': 'Brooklyn Nets',
 'BKN': 'Brooklyn Nets',
 'BOS': 'Boston Celtics',
 'CHA': 'Charlotte Hornets',
 'CHH': 'Charlotte Hornets',
 'CHO': 'Charlotte Hornets',
 'CHI': 'Chicago Bulls',
 'CLE': 'Cleveland Cavaliers',
 'DAL': 'Dallas Mavericks',
 'DEN': 'Denver Nuggets',
 'DET': 'Detroit Pistons',
 'GSW': 'Golden State Warriors',
 'HOU': 'Houston Rockets',
 'IND': 'Indiana Pacers',
 'LAC': 'Los Angeles Clippers',
 'LAL': 'Los Angeles Lakers',
 'MEM': 'Memphis Grizzlies',
 'MIA': 'Miami Heat',
 'MIL': 'Milwaukee Bucks',
 'MIN': 'Minnesota Timberwolves',
 'NJN': 'Brooklyn Nets',
 'NOH': 'New Orleans Pelicans',
 'NOP': 'New Orleans Pelicans',
 'NOK': 'Oklahoma City Thunder',
 'NYK': 'New York Knicks',
 'OKC': 'Oklahoma City Thunder',
 'ORL': 'Orlando Magic',
 'PHI': 'Philadelphia 76ers',
 'PHX': 'Phoenix Suns',
 'PHO': 'Phoenix Suns',
 'POR': 'Portland Trail Blazers',
 'SEA': 'Oklahoma City Thunder',
 'SAC': 'Sacramento Kings',
 'SAS': 'San Antonio Spurs',
 'TOR': 'Toronto Raptors',
 'UTA': 'Utah Jazz',
 'VAN': 'Memphis Grizzlies',
 'WAS': 'Washington Wizards',
 'WSB': 'Washington Wizards'}

In [84]:
#We can now use map to create a new column to find the Team name based on the column TM

combined["Team"] = combined["Team"].map(nicknames)

In [85]:
combined["Team"].head(20)

0        Los Angeles Lakers
1        Los Angeles Lakers
2        Los Angeles Lakers
3              Phoenix Suns
4              Phoenix Suns
5              Phoenix Suns
6          Dallas Mavericks
7          Dallas Mavericks
8        Los Angeles Lakers
9                Miami Heat
10      Cleveland Cavaliers
11       Washington Wizards
12       Washington Wizards
13          Milwaukee Bucks
14          Milwaukee Bucks
15          Milwaukee Bucks
16            Chicago Bulls
17            Chicago Bulls
18    Golden State Warriors
19         Dallas Mavericks
Name: Team, dtype: object

In [86]:
combined.head()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Year,MIP,6MOY,ROY,DPOY,MVP,CPOY,Pts Won,Pts Max,Share
0,A.C. Green,27,Los Angeles Lakers,PF,82,21,26.4,3.1,6.6,.476,...,1991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A.C. Green,28,Los Angeles Lakers,PF,82,53,35.4,4.7,9.8,.476,...,1992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A.C. Green,29,Los Angeles Lakers,PF,82,55,34.4,4.6,8.6,.537,...,1993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A.C. Green,30,Phoenix Suns,PF,82,55,34.5,5.7,11.3,.502,...,1994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A.C. Green,31,Phoenix Suns,SF,82,52,32.8,3.8,7.5,.504,...,1995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [87]:
stats = combined.merge(teams, how="outer", on = ["Team", "Year"])

In [88]:
stats

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS
0,NaN,NaN,Atlanta Hawks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12.0,41,41,.500,18.0,108.5,107.5,0.64
1,Doc Rivers,29,Atlanta Hawks,PG,79,79,32.7,5.6,12.9,.435,...,0.0,0.000,40.0,43,39,.524,18.0,109.8,109.0,0.72
2,Dominique Wilkins,31,Atlanta Hawks,SF,81,81,38.0,9.5,20.2,.470,...,960.0,0.030,40.0,43,39,.524,18.0,109.8,109.0,0.72
3,Duane Ferrell,25,Atlanta Hawks,SF,78,2,14.9,2.2,4.6,.489,...,0.0,0.000,40.0,43,39,.524,18.0,109.8,109.0,0.72
4,Gary Leonard,23,Atlanta Hawks,C,4,0,2.3,0.0,0.0,NaN,...,0.0,0.000,40.0,43,39,.524,18.0,109.8,109.0,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14665,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.474,...,0.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14666,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,990.0,0.572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14667,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,990.0,0.935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14668,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.467,...,0.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14669,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1000.0,0.787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
stats.isnull().sum()

Player         131
Age            205
Team            74
Pos            205
G              205
GS             205
MP             205
FG             205
FGA            205
FG%            238
3P             205
3PA            205
3P%           2095
2P             205
2PA            205
2P%            287
eFG%           238
FT             205
FTA            205
FT%            730
ORB            205
DRB            205
TRB            205
AST            205
STL            205
BLK            205
TOV            205
PF             205
PTS            205
Awards         170
Year             0
MIP            170
6MOY           170
ROY            170
DPOY           170
MVP            170
CPOY           170
Pts Won        131
Pts Max        131
Share          131
Unnamed: 0    1078
W             1078
L             1078
W/L%          1078
GB            1078
PS/G          1078
PA/G          1078
SRS           1078
dtype: int64

In [90]:
mi = stats[stats['FG'].isna()]

In [91]:
stats.drop(mi.index, axis=0, inplace=True)

In [92]:
stats

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS
1,Doc Rivers,29,Atlanta Hawks,PG,79,79,32.7,5.6,12.9,.435,...,0.0,0.00,40.0,43,39,.524,18.0,109.8,109.0,0.72
2,Dominique Wilkins,31,Atlanta Hawks,SF,81,81,38.0,9.5,20.2,.470,...,960.0,0.03,40.0,43,39,.524,18.0,109.8,109.0,0.72
3,Duane Ferrell,25,Atlanta Hawks,SF,78,2,14.9,2.2,4.6,.489,...,0.0,0.00,40.0,43,39,.524,18.0,109.8,109.0,0.72
4,Gary Leonard,23,Atlanta Hawks,C,4,0,2.3,0.0,0.0,NaN,...,0.0,0.00,40.0,43,39,.524,18.0,109.8,109.0,0.72
5,John Battle,28,Atlanta Hawks,SG,79,2,23.6,5.0,10.9,.461,...,0.0,0.00,40.0,43,39,.524,18.0,109.8,109.0,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14590,Justin Champagnie,23,Washington Wizards,SF,62,31,21.6,3.4,6.6,.511,...,0.0,0.00,1184.0,18,64,.220,23.0,108.0,120.4,-12.14
14591,Kyshawn George,21,Washington Wizards,SG,68,38,26.5,3.0,8.0,.372,...,0.0,0.00,1184.0,18,64,.220,23.0,108.0,120.4,-12.14
14592,Malcolm Brogdon,32,Washington Wizards,PG,24,13,23.5,4.3,10.0,.433,...,0.0,0.00,1184.0,18,64,.220,23.0,108.0,120.4,-12.14
14593,Richaun Holmes,31,Washington Wizards,PF,31,7,17.2,2.9,4.5,.647,...,0.0,0.00,1184.0,18,64,.220,23.0,108.0,120.4,-12.14
14594,Tristan Vukcevic,21,Washington Wizards,C,35,1,14.7,3.4,6.9,.496,...,0.0,0.00,1184.0,18,64,.220,23.0,108.0,120.4,-12.14

In [93]:
del stats["Unnamed: 0"]

In [94]:
#Always check for our data types and try to convert everything into the same type.
#stats.dtypes

stats = stats.apply(pd.to_numeric, errors="ignore")  #This means it will go through columns in stats and try to convert them into numeric columns.

# And if there's an error it won't convert

stats.dtypes

/var/folders/3f/7yyndr2s1xsd15b1kh2vc2k00000gn/T/ipykernel_4732/7539424.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  stats = stats.apply(pd.to_numeric, errors="ignore")  #This means it will go through columns in stats and try to convert them into numeric columns.

Player      object
Age          int64
Team        object
Pos         object
G            int64
GS           int64
MP         float64
FG         float64
FGA        float64
FG%        float64
3P         float64
3PA        float64
3P%        float64
2P         float64
2PA        float64
2P%        float64
eFG%       float64
FT         float64
FTA        float64
FT%        float64
ORB        float64
DRB        float64
TRB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
PTS        float64
Awards      object
Year         int64
MIP        float64
6MOY       float64
ROY        float64
DPOY       float64
MVP        float64
CPOY       float64
Pts Won    float64
Pts Max    float64
Share      float64
W          float64
L          float64
W/L%       float64
GB          object
PS/G       float64
PA/G       float64
SRS        float64
dtype: object

In [95]:
stats["GB"].unique()

array(['18.0', '29.0', '14.0', '—', '10.0', '26.0', '13.0', '12.0', '2.0',
       '28.0', '27.0', '17.0', '15.0', '33.0', '46.0', '6.0', '22.0',
       '16.0', '20.0', '21.0', '3.0', '11.0', '1.0', '25.0', '19.0',
       '5.0', '23.0', '12.5', '9.0', '8.0', '4.0', nan, '35.0', '31.0',
       '7.0', '32.0', '36.0', '39.0', '37.0', '38.0', '4.5', '30.0',
       '24.0', '43.0', '25.5', '41.0', '44.0', '45.0', '40.0', '42.0',
       '2.5', '51.0', '34.0', '20.5', '32.5', '48.0', '52.0', '3.5',
       '56.0', '10.5', '47.0', '11.5', '22.5', '1.5', '50.0', '21.5',
       '18.5'], dtype=object)

In [96]:
stats["GB"] = stats["GB"].str.replace('—', "0")

In [97]:
stats["GB"].unique()

array(['18.0', '29.0', '14.0', '0', '10.0', '26.0', '13.0', '12.0', '2.0',
       '28.0', '27.0', '17.0', '15.0', '33.0', '46.0', '6.0', '22.0',
       '16.0', '20.0', '21.0', '3.0', '11.0', '1.0', '25.0', '19.0',
       '5.0', '23.0', '12.5', '9.0', '8.0', '4.0', nan, '35.0', '31.0',
       '7.0', '32.0', '36.0', '39.0', '37.0', '38.0', '4.5', '30.0',
       '24.0', '43.0', '25.5', '41.0', '44.0', '45.0', '40.0', '42.0',
       '2.5', '51.0', '34.0', '20.5', '32.5', '48.0', '52.0', '3.5',
       '56.0', '10.5', '47.0', '11.5', '22.5', '1.5', '50.0', '21.5',
       '18.5'], dtype=object)

In [98]:
stats.isnull().sum()

Player        0
Age           0
Team          0
Pos           0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          68
3P            0
3PA           0
3P%        1925
2P            0
2PA           0
2P%         117
eFG%         68
FT            0
FTA           0
FT%         560
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Awards        0
Year          0
MIP           0
6MOY          0
ROY           0
DPOY          0
MVP           0
CPOY          0
Pts Won       0
Pts Max       0
Share         0
W          1004
L          1004
W/L%       1004
GB         1004
PS/G       1004
PA/G       1004
SRS        1004
dtype: int64

In [100]:
#Let's fill the NaN to 0 

stats[["W", "L", "W/L%", "GB", "PS/G", "PA/G", "SRS"]] = stats[["W", "L", "W/L%", "GB", "PS/G", "PA/G", "SRS"]].fillna(0)

In [101]:
stats["GB"] = pd.to_numeric(stats["GB"])

In [102]:
stats.dtypes

Player      object
Age          int64
Team        object
Pos         object
G            int64
GS           int64
MP         float64
FG         float64
FGA        float64
FG%        float64
3P         float64
3PA        float64
3P%        float64
2P         float64
2PA        float64
2P%        float64
eFG%       float64
FT         float64
FTA        float64
FT%        float64
ORB        float64
DRB        float64
TRB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
PTS        float64
Awards      object
Year         int64
MIP        float64
6MOY       float64
ROY        float64
DPOY       float64
MVP        float64
CPOY       float64
Pts Won    float64
Pts Max    float64
Share      float64
W          float64
L          float64
W/L%       float64
GB         float64
PS/G       float64
PA/G       float64
SRS        float64
dtype: object

In [103]:
stats["PF"]

1        2.7
2        1.9
3        1.9
4        0.5
5        1.8
        ...
14590    1.8
14591    3.0
14592    1.3
14593    1.6
14594    1.6
Name: PF, Length: 14465, dtype: float64

In [104]:
stats.shape

(14465, 47)

In [112]:
stats.to_csv("players_mvp_stats.csv", index=False)

In [111]:
stats[0:200].to_csv("stats.csv")